@import "tailwindcss";

@font-face {
	font-family: "Paragraph";
	src: url("./res/paragraph.ttf");
}

@font-face {
	font-family: "Heading";
	src: url("./res/heading.woff");
}

:root {
	--background: #000000;
	--main-color: #ffdf9b;
	--accent-color: #ff9b9b;
	--inverse-color: #518ee2;
	--positive-color: #61de61;
	--negative-color: #ff9b9b;
}

::selection {
	background-color: white;
}

body {
	background: var(--background);
}

* {
	color: var(--main-color);
	font-family: "Heading", sans-serif;
}
p {
	font-family: "Paragraph", sans-serif;
}

.main-color {
	color: var(--main-color);
	border-color: var(--main-color);
}
.accent-color {
	color: var(--accent-color);
	border-color: var(--accent-color);
}
.inverse-color {
	color: var(--inverse-color);
	border-color: var(--inverse-color);
}
.positive-color {
	color: var(--positive-color);
	border-color: var(--positive-color);
}
.negative-color {
	color: var(--negative-color);
	border-color: var(--negative-color);
}

.newsbar {
	width: 100vw;
	overflow: hidden;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.track {
	display: flex;
	gap: 1rem;
	align-items: center;
	white-space: nowrap;
	transform: translateX(100%);
	animation: scroll linear infinite;
}

.track > * {
	flex: 0 0 auto;
}

@keyframes scroll {
	from {
		transform: translateX(100%);
	}
	to {
		transform: translateX(-100%);
	}
}
