@import "tailwindcss";

@font-face {
	font-family: "Paragraph";
	src: url("./res/paragraph.ttf");
}

@font-face {
	font-family: "Heading";
	src: url("./res/heading.woff");
}

:root {
  --background: #000000;
  --main-color: #FFDF9B;
	--accent-color: #FF9B9B;
	--inverse-color: #518EE2;
	--positive-color: #61DE61;
	--negative-color: #FF9B9B;
}

::selection {
  background-color: white;
}

body {
  background: var(--background);
}

* {
  color: var(--main-color);
  font-family: "Heading", sans-serif;
}
p {
  font-family: "Paragraph", sans-serif;
}

.main-color {
    color: var(--main-color);
    border-color: var(--main-color);
}
.accent-color {
    color: var(--accent-color);
    border-color: var(--accent-color);
}
.inverse-color {
    color: var(--inverse-color);
    border-color: var(--inverse-color);
}
.positive-color {
    color: var(--positive-color);
    border-color: var(--positive-color);
}
.negative-color {
    color: var(--negative-color);
    border-color: var(--negative-color);
}